<app-navbar></app-navbar>

<div class="container my-5">
    <form #form="ngForm" class="order-form">
        <h2 class="text-center">Resumo do Pedido</h2>

        <!-- Resumo do Carrinho -->
        <div *ngIf="cart && cart.itens.length > 0">
            <h3>Itens no Carrinho:</h3>
            <ul class="list-group mb-3">
                <li *ngFor="let item of cart.itens" class="list-group-item d-flex justify-content-between align-items-center">
                    {{ item.nome }}
                    <span class="badge bg-primary rounded-pill">{{ item.quantidade }}</span>
                    <span class="badge bg-success rounded-pill">{{ item.preco | currency }}</span>
                </li>
            </ul>
            <p *ngIf="taxaEntrega !== null"><strong>Taxa de Entrega:</strong> {{ taxaEntrega | currency }}</p>
            <p><strong>Total do Pedido:</strong> {{ (cart.totalPreco + taxaEntrega) | currency }}</p>
        </div>

        <!-- Formulário de Endereço -->
        <h3 class="mt-4">Informações de Entrega</h3>
        <div class="row">
            <div class="col-md-6">
                <input type="text" [(ngModel)]="cep" (blur)="buscarCep()" name="cep" #cepInput="ngModel" class="form-control mt-2" placeholder="CEP XXXXX-XX" pattern="^\d{5}-\d{3}$" required>
                <div *ngIf="cepInput.errors && cepInput.touched" class="alert alert-warning mt-2">
                    <div *ngIf="cepInput.errors['required']">Cep é obrigatório</div>
                    <div *ngIf="cepInput.errors['pattern']">Formato de CEP inválido</div>
                </div>
            </div>
            <div class="col-md-6">
                <input type="text" [(ngModel)]="endereco" name="endereco" #enderecoInput="ngModel" class="form-control mt-2" placeholder="Endereço/Rua" required>
                <div *ngIf="enderecoInput.errors && enderecoInput.touched" class="alert alert-warning mt-2">Endereço é obrigatório.</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <input type="text" [(ngModel)]="whatsapp" name="whatsapp" #whatsappInput="ngModel" class="form-control mt-2" placeholder="WhatsApp" pattern="^\d{10,13}$" required>
                <div *ngIf="whatsappInput.errors && whatsappInput.touched" class="alert alert-warning mt-2">
                    <div *ngIf="whatsappInput.errors['required']">Número de WhatsApp é obrigatório</div>
                    <div *ngIf="whatsappInput.errors['pattern']">Formato de número inválido</div>
                </div>
            </div>
            <div class="col-md-6">
                <select [(ngModel)]="bairro" name="bairro" #bairroInput="ngModel" (ngModelChange)="atualizarTaxaEntrega()" class="form-control mt-2" required>
                    <option value="" disabled selected>Selecione o Bairro</option>
                    <option value="ingleses">Ingleses</option>
                    <option value="rio vermelho">Rio Vermelho</option>
                    <option value="vargem">Vargem</option>
                    <option value="canasvieiras">Canasvieiras</option>
                </select>
                <div *ngIf="bairroInput.errors && bairroInput.touched" class="alert alert-warning mt-2">Bairro é obrigatório.</div>
            </div>
        </div>

        <div id="mapId" style="height: 200px;"></div>

        <!-- Método de Pagamento -->
        <h3 class="mt-4">Método de Pagamento</h3>
        <select [(ngModel)]="metodoPagamento" name="metodoPagamento" #metodoPagamentoInput="ngModel" class="form-control mt-2" required>
            <option value="" disabled selected>Selecione a Forma de Pagamento</option>
            <option value="cartao_credito">Cartão de Crédito</option>
            <option value="cartao_debito">Cartão de Débito</option>
            <option value="dinheiro">Dinheiro</option>
        </select>
        <div *ngIf="metodoPagamentoInput.errors && metodoPagamentoInput.touched" class="alert alert-warning mt-2">Método de pagamento é obrigatório.</div>
        <div class="col-md-6">
            <input type="text" [(ngModel)]="observacoes" name="observacoes" class="form-control mt-2" placeholder="Observações">
        </div>
        
        <button class="btn btn-success mt-3" (click)="enviarPedido()" [disabled]="!form.valid">Enviar Pedido</button>
    </form>
</div>

<app-footer></app-footer>
