<div class="container mt-4">
    <h2 class="text-center mb-3">Prato do Dia</h2>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let produto of produtos">
        <div class="card h-100 border-0 bg-light bg-opacity-40 ">
          <img [src]="produto.imagemUrl" class="card-img-top" alt="Imagem do prato" *ngIf="produto.imagemUrl">
          <div class="card-body">
            <h5 class="card-title">{{ produto.nome }}</h5>
            <p class="card-text">{{ produto.descricao }}</p>

            <!-- Exibir o preço se disponível -->
            <p class="card-text" *ngIf="produto.preco">
              <strong>Preço: </strong>R$ {{ produto.preco.toFixed(2) }}
            </p>
            <!-- Exibir mensagem se o preço não estiver disponível -->
            <p class="card-text" *ngIf="!produto.preco">
              Preço não disponível
            </p>

            <a href="#" class="btn btn-primary">Pedir Agora</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  