<app-navbar></app-navbar>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Registro
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-4 form-group mb-3">
                                <label for="inputName">Nome</label>
                                <input type="text" class="form-control" id="inputName" [(ngModel)]="user.nome" name="nome" placeholder="Digite seu nome completo">
                            </div>
                            <div class="col-md-4 form-group mb-3">
                                <label for="inputEmail">E-mail</label>
                                <input type="email" class="form-control" id="inputEmail" [(ngModel)]="user.email" name="email" placeholder="Digite seu e-mail">
                            </div>
                            <div class="col-md-4 form-group mb-3">
                                <label for="inputPhone">Telefone</label>
                                <input type="tel" class="form-control" id="inputPhone" [(ngModel)]="user.telefone" name="telefone" placeholder="Digite seu telefone">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 form-group mb-3">
                                <label for="inputZip">CEP</label>
                                <input type="text" class="form-control" id="inputZip" [(ngModel)]="user.cep" name="cep" placeholder="CEP">
                            </div>
                            <div class="col-md-4 form-group mb-3">
                                <label for="inputCity">Cidade</label>
                                <input type="text" class="form-control" id="inputCity" [(ngModel)]="user.cidade" name="cidade" placeholder="Cidade" readonly>
                            </div>
                            <div class="col-md-4 form-group mb-3">
                                <label for="inputState">Estado</label>
                                <input type="text" class="form-control" id="inputState" [(ngModel)]="user.estado" name="estado" placeholder="Estado" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group mb-3">
                                <label for="inputAddress">Endereço</label>
                                <input type="text" class="form-control" id="inputAddress" [(ngModel)]="user.endereco" name="endereco" placeholder="Rua, Número, Complemento" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="inputPassword">Senha</label>
                                <input type="password" class="form-control" id="inputPassword" [(ngModel)]="user.senha" name="senha" placeholder="Digite uma senha">
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="inputConfirmPassword">Confirme sua Senha</label>
                                <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirme sua senha">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>

<app-footer>

