.card-img-custom {
    width: 100%;       /* Largura total do card */
    height: 160px;     /* Altura um pouco menor para compensar mais colunas */
    object-fit: cover; /* Garante que a imagem cubra a área sem distorção */
  }
  
  .card-custom {
    height: 380px; /* Altura ajustada */
  }
  
  .product-image-container {
    position: relative;
  }
  

  .product-image-container {
    position: relative;
  }
  
  .most-sold-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px; /* Ajuste o tamanho conforme necessário */
    height: 80px; /* Ajuste o tamanho conforme necessário */
  }


  .promotion-badge-left {
    position: absolute;
    top: 10px;
    left: 10px;  /* Posicionamento à esquerda */
    width: 80px; /* Tamanho ajustado para corresponder à imagem mais vendida */
    height: 80px; /* Tamanho ajustado para corresponder à imagem mais vendida */
  }
  