<app-navbar></app-navbar>

<div class="container">
  <h2 class="text-center mb-4">Categorias</h2>
  <div class="row g-3">
    <div class="col-md-4" *ngFor="let categoria of categorias">
      <button type="button" class="list-group-item list-group-item-action text-center"
              (click)="onCategoriaSelecionada(categoria.id)">
        {{ categoria.nome }}
      </button>
    </div>
  </div>
</div>

<div class="container my-5" *ngIf="produtos && produtos.length > 0">
  <div class="row">
    <div class="col-md-3 mb-3" *ngFor="let produto of produtos">
      <div class="card card-custom">
        <img [src]="produto.imagemUrl" class="card-img-top card-img-custom" alt="Imagem do Produto">
        <div class="card-body">
          <h5 class="card-title">{{ produto.nome }}</h5>
          <p class="card-text">{{ produto.descricao }}</p>
          <p class="card-text">Preço: {{ produto.preco | currency }}</p>
          <button class="btn btn-primary btn-sm" (click)="adicionarAoCarrinho(produto)">Add ao Pedido</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" *ngIf="!produtos || produtos.length === 0">
  <p>Nenhum produto encontrado nesta categoria.</p>
</div>

<app-footer>
