<app-navbar></app-navbar> 

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img class="d-block w-100" src="https://ninjafood.su/upload/resize_cache/iblock/d96/1300_400_240cd750bba9870f18aada2478b24840a/o489clv6jp3mlyxwwok32hnmd28a97og.png" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img class="d-block w-100" src="https://sssweets.in/images/ff.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="000">
      <img class="d-block w-100" src="https://www.myrelatedlife.com/app/uploads/2019/10/the-new-oktoberfest-the-shops-at-columbus-circles-hopping-beer-scene-2-1441x580-1.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container my-5">

 




    <div class="row justify-content-center">
        <!-- Card 1 -->
        <div class="col-md-4 d-flex">
            <div class="card my-2 h-100">
                <img src="assets/img/lanche2.jpg" class="card-img-top img-fluid img-card" alt="Lanche">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Lanches</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Faça Seu Pedido!</a>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4 d-flex">
            <div class="card my-2 h-100">
                <img src="assets/img/batatafrita.png" class="card-img-top img-fluid img-card" alt="Batata Frita">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Porções</h5>
                    <p class="card-text">Some more example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Faça Seu Pedido!</a>
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-4 d-flex">
            <div class="card my-2 h-100">
                <img src="assets/img/pizza1.jpg" class="card-img-top img-fluid img-card" alt="Pizza">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Pizzas</h5>
                    <p class="card-text">And some more example text here as well to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Faça Seu Pedido!</a>
                </div>
            </div>
        </div>
    </div>  
    
    <div class="card text-center my-5">
      <div class="card-header">
        Prato do Dia!
      </div>
      <div class="card-body">
        <h5 class="card-title">Prato Especial do Dia: Frango Assado com Ervas Finas</h5>
        <p class="card-text">Descubra o sabor inigualável do nosso Frango Assado, temperado com uma seleção exclusiva de ervas finas. Acompanhado de legumes frescos e uma deliciosa guarnição, este prato é a escolha perfeita para uma refeição equilibrada e cheia de sabor. Venha experimentar e deixe seu dia ainda mais especial!</p>
        <a href="#" class="btn btn-primary">Confira!!!</a>
      </div>
      <div class="card-footer text-body-secondary">
        29 de Dezembro
      </div>
    </div>
    
    
</div>





<app-footer></app-footer>