<app-navbar></app-navbar> 


<div class="container my-5">
    <div class="row justify-content-center">
        <!-- Card 1 -->
        <div class="col-md-4 d-flex">
            <div class="card my-2 h-100">
                <img src="assets/img/lanche2.jpg" class="card-img-top img-fluid img-card" alt="Lanche">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Lanches</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Faça Seu Pedido!</a>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4 d-flex">
            <div class="card my-2 h-100">
                <img src="assets/img/batatafrita.png" class="card-img-top img-fluid img-card" alt="Batata Frita">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Porções</h5>
                    <p class="card-text">Some more example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Faça Seu Pedido!</a>
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-4 d-flex">
            <div class="card my-2 h-100">
                <img src="assets/img/pizza1.jpg" class="card-img-top img-fluid img-card" alt="Pizza">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Pizzas</h5>
                    <p class="card-text">And some more example text here as well to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Faça Seu Pedido!</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card text-center my-5">
        <div class="card-header">
          Prato do Dia!
        </div>
        <div class="card-body">
          <h5 class="card-title">Prato Especial do Dia: Frango Assado com Ervas Finas</h5>
          <p class="card-text">Descubra o sabor inigualável do nosso Frango Assado, temperado com uma seleção exclusiva de ervas finas. Acompanhado de legumes frescos e uma deliciosa guarnição, este prato é a escolha perfeita para uma refeição equilibrada e cheia de sabor. Venha experimentar e deixe seu dia ainda mais especial!</p>
          <a href="#" class="btn btn-primary">Confira!!!</a>
        </div>
        <div class="card-footer text-body-secondary">
          29 de Dezembro
        </div>
    </div>
    
    
</div>





<app-footer></app-footer>