<app-navbar></app-navbar> 

<div class="margem-customizada"> <!-- Ajuste o valor '3' para aumentar ou diminuir a margem -->
  <p class="d-inline-flex gap-1">
    <a class="btn btn-dark collapsed" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Conheça Nossos Lanches</a>
    <button class="btn btn-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Entrega Rápida</button>
  </p>
  <div class="row">
    <div class="col">
      <div class="multi-collapse collapse" id="multiCollapseExample1" style="">
        <div class="card card-body my-3">
          Descubra uma variedade de lanches deliciosos e saborosos em nosso cardápio! Desde os clássicos X-Burgers até opções gourmet especiais, todos preparados com ingredientes frescos e de qualidade. Perfeito para saciar sua fome a qualquer hora do dia.
        </div>
      </div>
    </div>
    <div class="col">
      <div class="multi-collapse collapse" id="multiCollapseExample2" style="">
        <div class="card card-body my-3">
          Nossa entrega é rápida e eficiente, garantindo que seu lanche chegue quentinho e delicioso até você. Ideal para aqueles dias de trabalho intenso ou para momentos de relaxamento em casa. Experimente a comodidade e rapidez do nosso serviço de entrega!
        </div>
      </div>
    </div>
  </div>
</div>



<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img class="d-block w-100" src="https://ninjafood.su/upload/resize_cache/iblock/d96/1300_400_240cd750bba9870f18aada2478b24840a/o489clv6jp3mlyxwwok32hnmd28a97og.png" alt="First slide">
      <div class="carousel-caption d-none d-md-block ">
        <!-- <h5>Pizzas em PROMOÇÃO!!!</h5>
        <p>Toda semana uma pizza difernete em Promoção.</p> -->
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img class="d-block w-100" src="https://sssweets.in/images/ff.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p> -->
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="000">
      <img class="d-block w-100" src="https://www.myrelatedlife.com/app/uploads/2019/10/the-new-oktoberfest-the-shops-at-columbus-circles-hopping-beer-scene-2-1441x580-1.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p> -->
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container my-5">
  <div class="row justify-content-center">
    <app-dish-of-the-day></app-dish-of-the-day>

  </div>


    
    <div class="accordion my-5" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Variedade de Lanches
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Explore nossa vasta seleção de lanches!</strong> Oferecemos desde opções clássicas como X-Burgers e Hot Dogs até criações gourmet exclusivas. Nossos lanches são preparados com ingredientes frescos e de alta qualidade, garantindo sabores inesquecíveis e satisfação total. Perfeitos para qualquer momento do dia, seja para um almoço rápido ou um lanche noturno.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Ingredientes Frescos e de Qualidade
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Compromisso com a qualidade!</strong> Selecionamos cuidadosamente cada ingrediente para garantir que nossos lanches sejam não só deliciosos, mas também nutritivos. Utilizamos carnes selecionadas, vegetais frescos e pães artesanais, tudo para que você tenha a melhor experiência gastronômica. Venha descobrir o sabor único que só ingredientes de primeira linha podem oferecer.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Entrega Rápida e Confiável
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Seu lanche entregue no conforto do seu lar!</strong> Com nosso serviço de entrega rápida, você pode desfrutar dos seus lanches favoritos onde estiver. Nosso foco é garantir que seu pedido chegue quente e fresco, pronto para ser saboreado. Ideal para aqueles dias corridos ou para um jantar aconchegante em casa.
          </div>
        </div>
      </div>
    </div>
    

    
    
    
</div>





<app-footer></app-footer>