.order-management-body {
    max-height: 350px; /* Ajuste este valor conforme necessário */
    overflow: auto;
  }
  .custom-margin-container {
    margin-left: 5%; /* Margem esquerda */
    margin-right: 5%; /* Margem direita */
  }
  