.mini-card {
    font-size: 0.8rem; /* Ajuste o tamanho conforme necessário */
    
    .card-title {
        font-size: 0.9rem; /* Tamanho específico para o título, se necessário */
    }

    .card-text {
        font-size: 0.8rem; /* Tamanho específico para o texto, se necessário */
    }
}
