<app-navbar></app-navbar>

<div class="container manage-products">
    <h2 class="my-4 text-center">Gerenciamento de Produtos</h2>
    <button class="btn btn-success mt-3 mb-3" (click)="produtoEditando = criarProdutoVazio()">Adicionar Novo Produto</button>

    <div class="row mb-3" *ngIf="produtoEditando">
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <input type="text" class="form-control mb-2" [(ngModel)]="produtoEditando.nome" placeholder="Nome">
                <textarea class="form-control mb-2" [(ngModel)]="produtoEditando.descricao" placeholder="Descrição"></textarea>
                <input type="number" class="form-control mb-2" [(ngModel)]="produtoEditando.preco" placeholder="Preço">
                
                <!-- Seletor de Categoria -->
                <select class="form-control mb-2" [(ngModel)]="produtoEditando.categoria">
                    <option *ngFor="let categoria of categorias" [value]="categoria.nome">{{ categoria.nome }}</option>
                </select>

                <input type="text" class="form-control mb-2" [(ngModel)]="produtoEditando.imagemUrl" placeholder="URL da Imagem">
                <button class="btn btn-primary" (click)="salvarProduto()">Salvar</button>
            </div>
        </div>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th>Imagem</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produto of produtos">
                <td>{{ produto.nome }}</td>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.preco | currency }}</td>
                <td>{{ produto.categoria }}</td>
                <td>
                    <img [src]="produto.imagemUrl" alt="Imagem do Produto" style="height: 50px; object-fit: cover;">
                </td>
                <td>
                    <button class="btn btn-secondary btn-sm" (click)="iniciarEdicao(produto)">Editar</button>
                    <button class="btn btn-danger btn-sm" (click)="excluirProduto(produto.id)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<app-footer>

