<div class="container mb-5">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mb-4 border-bottom">
    <img src="assets/img/logo1.png" class="logo-header" alt="Logotipo">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a routerLink="/home" class="nav-link px-2 nav-link-gradient-text"><i class="fa fa-home"></i> Home</a>
      </li>
      <li>
        <a routerLink="/menu" class="nav-link px-2 nav-link-gradient-text"><i class="fa fa-utensils"></i> Menu</a>
      </li>
      <li>
        <a routerLink="/carrinho" class="nav-link px-2 nav-link-gradient-text"><i class="fa fa-shopping-cart"></i> Carrinho</a>
      </li>
      <li>
        <a routerLink="/dashboard" class="nav-link px-2 nav-link-gradient-text"><i class="fa fa-chart-line"></i> Dashboard</a>
      </li>
      <li>
        <a routerLink="/sobre" class="nav-link px-2 nav-link-gradient-text"><i class="fa fa-info-circle"></i> Sobre</a>
      </li>
    </ul> 
    <!-- <ul class="list-unstyled d-flex my-3">
      <li class="ms-3"><a href="#"><i class="fab fa-whatsapp fa-2x"></i></a></li>
      <li class="ms-3"><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
      <li class="ms-3"><a href="#"><i class="fab fa-facebook-f fa-2x"></i></a></li>
  </ul> -->
      <!-- Botões condicionais -->
    <div *ngIf="currentUser; else loginRegisterBlock" class="col-md-3 text-end">
      <span class="me-2">Olá, {{ currentUser.nome }}</span>
      <button type="button" class="btn btn-outline-dark" (click)="logout()">Logout</button>
    </div>
    
    <!-- Template para Login e Registro -->
    <ng-template #loginRegisterBlock>
      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-orange-gradient me-2" routerLink="/login">Login</button>
        <button type="button" class="btn btn-orange-gradient" routerLink="/registro">Registrar</button>
      </div>
    </ng-template>
  </header>
</div>


