.logo-header {
    height: 150px; /* Define a altura do logo para 100px */
    top: 0;
    left: 0; /* Adiciona um pouco de espaço ao redor do logo */
}
.nav {
    margin-left: 20px; /* Adiciona uma margem à esquerda para a lista de navegação */
}

  .nav-link-gradient-text {
    background:  #fc4a1a; /* Chrome 10-25, Safari 5.1-6 */
   
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Torna o texto transparente, mostrando apenas o gradiente */
    text-decoration: none; /* Remove o sublinhado do link */
}

