<div class="container mb-5">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <img src="assets/img/logo1.png" class="logo-header" alt="Logotipo">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/home" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a routerLink="/menu" class="nav-link px-2">Menu</a></li>
          <!-- <li><a routerLink="/pedido" class="nav-link px-2">Pedidos</a></li> -->
          <li><a routerLink="/carrinho" class="nav-link px-2">Carrinho</a></li>
          <li><a routerLink="/sobre" class="nav-link px-2">Sobre</a></li>
      </ul>
      <ul class="list-unstyled d-flex my-3">
          <li class="ms-3"><a href="#"><i class="fab fa-whatsapp fa-2x"></i></a></li>
          <li class="ms-3"><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
          <li class="ms-3"><a href="#"><i class="fab fa-facebook-f fa-2x"></i></a></li>
      </ul>
      <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2" routerLink="/login">Login</button>
          <button type="button" class="btn btn-primary" routerLink="/registro">Registrar</button>
      </div>
  </header>
</div>

