.logo-header {
    height: 100px; /* Define a altura do logo para 100px */
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px; /* Adiciona um pouco de espaço ao redor do logo */
}
.nav {
    margin-left: 20px; /* Adiciona uma margem à esquerda para a lista de navegação */
}