.card-custom {
    font-size: 0.8rem;
    height: 300px;
  }

  .card-header-custom {
    font-size: 0.9rem;
    padding: 0.5rem 1rem; /* Menor padding no cabeçalho */
  }

  .card-title-custom {
    font-size: 1rem;
  }

  .card-body-custom {
    overflow-y: auto;
    height: calc(100% - 56px);
    padding: 0.5rem; /* Menor padding no corpo do card */
  }

  .list-group-item {
    padding: 0.25rem 1rem; /* Menor padding nos itens da lista */
  }