.card-custom {
  font-size: 0.8rem;
  height: auto; /* Altura ajustada para auto para acomodar o accordion */
}

.card-header-custom {
  font-size: 0.9rem;
}

.card-title-custom {
  font-size: 1rem;
}

.accordion-body {
  font-size: 0.8rem;
}