<div class="container">
    <footer class="footer border-top my-2">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5 class="my-3">Seu Lanche!</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Lanches</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pedido</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Endereço</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sobre</a></li>
                </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                <form class="my-3">
                    <h5>Receba novidades e promoções</h5>
                    <p>cadastre seu telefone e receba primeiro nossas promoções.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">telefone</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Digite seu telefone">
                        <button class="btn btn-primary" type="button">Enviar</button>
                    </div>
                </form>
                <ul class="list-unstyled d-flex my-3">
                    <li class="ms-3"><a href="#"><i class="fab fa-whatsapp fa-2x"></i></a></li>
                    <li class="ms-3"><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
                    <li class="ms-3"><a href="#"><i class="fab fa-facebook-f fa-2x"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="border-top pt-3">
            <p>&copy; 2024, Fernando M. Aurélio.</p>
        </div>
    </footer>
</div>

